/* src/components/Graph.css */
.graph-container {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  
  .graph-container h2 {
    text-align: center;
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  